<h1>Entry Show</h1>
<h2>Title: <%= @entry.title%></h2>

<p><%= @entry.content%></p>

<p>Number of Comments: <%= @entry.comments.count%></p>




<br><%= link_to "New Comment", new_entry_comment_path(@entry), id: "new-comment" %>


<br> <button id='comment-data' data-id="<%=@entry.id%>">All Comments</button>

			<div id='ajax-comments'>

      </div>

<br><%= link_to "Edit Entry", edit_entry_path(@entry)%>
<br><%= link_to "Delete Entry", entry_path(@entry), method: :delete, data: { confirm: "Are you sure?" }%>
