<h1>Entry Show</h1>
<h2>Title: <%= @entry.title%></h2>
<p>Number of Comments: <%= @entry.comments.count%></p>


<a href="#" class="js-more" data-id="<%=@entry.id%>">Click For Content</a>

<div class="showMore">

</div>


<script type="text/javascript" charset="utf-8">

$(function() {
   $(".js-more").one("click", function(event) {
     event.preventDefault();
     let $list = $(".showMore");
     var entryId = parseInt($(".js-more").attr("data-id"));
     $.get("/entries/" + entryId + ".json", function(data) {
         $list.append(data["content"])
     });
   });
 });
</script>



<br><%= link_to "New Comment", new_entry_comment_path(@entry) %>
<br><%= link_to "All Comments", entry_comments_path(@entry) %>

<button id='comment-data'>All Comments</button>



<br><%= link_to "Edit Entry", edit_entry_path(@entry)%>
<br><%= link_to "Delete Entry", entry_path(@entry), method: :delete, data: { confirm: "Are you sure?" }%>

<br><a href="/entries">Back to Index</a>
