<h1>Entry Show</h1>

<h4>
		<%= @entry.title %>
	</h4>
	<p>
		<%= @entry.content %>
	</p>

  <br>Number of Comments: <%= @entry.comments.count%>

<br><%= link_to "New Comment", new_entry_comment_path(@entry) %>

<br><%= link_to "Edit", edit_entry_path(@entry)%>
<br><%= link_to "Delete", entry_path(@entry), method: :delete, data: { confirm: "Are you sure?" }%>
